{{#fillSection "metaDescription"}}This is an example forgot password page for your application experience.{{/fillSection}}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="well">
        <p>
          This is an example forgot password page. Users will come here when they forget their login credentials.
        </p>
        <p>
          The user will submit his/her email address. If we have an experience user matching that email address, we will create a token and send the user a link to proceed with the request.
        </p>
        <p>
          If a user is not found, we will not expose that to the user; rather, we tell him/her that we sent an email IF we found a user.
        </p>
      </div>
      {{# if pageData.forgotPasswordSuccessMessage}}
      	{{component "successAlert" pageData.forgotPasswordSuccessMessage}}
      {{else if pageData.forgotPasswordFailure}}
        {{component "errorAlert" pageData.forgotPasswordFailure}}
      {{else if request.query.resetError}}
        {{component "errorAlert" "Token is no longer valid. Please request a new password reset email."}}
      {{/if}}
      <form method="post">
        <div class="form-group">
          <label for="email" id="email">Email address</label>
          <input autofocus required value="{{ pageData.email }}" class="form-control" name="email" id="email" placeholder="e.g. test.user@example.com">
        </div>
        <button type="submit" class="btn btn-success">Request Password Reset</button>
      </form>
    </div>
  </div>
</div>
